<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ page.description | default: site.description }}">
<meta name="author" content="{{ site.authors }}">
<title>
  {%- if page.title -%}
    {{ page.title }} | {{ site.title }}
  {%- else -%}
    {{ site.title }}
  {%- endif -%}
</title>
<link href="{{ site.baseurl }}/assets/css/normalize.min.css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet">