<!DOCTYPE html>
<html lang="en">
<head>{% include header.html %}</head>
<body class="post-template tag-general tag-cupcake">

<nav id="menu">
	<a class="close-button">Bağla</a>
	<div class="nav-wrapper">
		<p class="nav-label">Menu</p>
		<ul>
			<li class="nav-home active" role="presentation"><a href="{{site.url}}"> Ana səhifə</a></li>
			<li class="nav-twitter"><a href="{{twitter_url}}" title="{{site.twitter}}"><i class="ic ic-twitter"></i> Twitter</a></li>
			<li class="nav-facebook"><a href="{{facebook_url}}" title="{{site.facebook}}"><i class="ic ic-facebook"></i> Facebook</a></li>
			<li class="nav-subscribe"><a href="{{site.url}}/subscribe/"><i class="ic ic-mail"></i> Subscribe</a></li>
			<li class="nav-rss"><a href="{{site.url}}/rss/"><i class="ic ic-rss"></i> Subscribe</a></li>
		</ul>
	</div>
</nav>

<section id="wrapper">
	<a class="hidden-close"></a>
	<div class="progress-container">
		<span class="progress-bar"></span>
	</div>
	<header id="post-header">
		<div class="inner">
			<nav id="navigation">
				<span id="home-button" class="nav-button">
					<a class="home-button" href="{{site.url}}" title="Home"></i> Ana səhifə</a>
				</span>
			</nav>
			<span id="menu-button" class="nav-button">
				<a class="menu-button"><i class="ic ic-menu"></i> Menu</a>
			</span>
			<h1 class="post-title">{{page.title}}</h1>
			<span class="post-meta">{{page.author}} | <time datetime="{{page.date | date: '%m/%d/%Y'}}">{{page.date | date:'%m/%d/%Y'}}</time></span>
		</div>
	</header>

	<main class="content" role="main">
		<article class="{{post_class}} post tag-general tag-cupcake">
			<div class="inner">
				<section class="post-content">
					{{content}}
				</section>
				<section class="post-info">
					<div class="post-share">
						<a class="twitter" href="https://twitter.com/share?text={{page.title}}&url={{site.url}}{{page.url}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
							<i class="ic ic-twitter"></i><span class="hidden">Twitter</span>
						</a>
						<a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
							<i class="ic ic-facebook"></i><span class="hidden">Facebook</span>
						</a>
						<a class="googleplus" href="https://plus.google.com/share?url={{site.url}}{{page.url}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
							<i class="ic ic-googleplus"></i><span class="hidden">Google+</span>
						</a>
						<div class="clear"></div>
					</div>
					<aside class="post-tags">
						{{post.tags}}
					</aside>
					<div class="clear"></div>
				</section>
			</div>
		</article>
	</main>
{% include footer.html %}
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/script.js"></script>
</body>
</html>