<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body class="home-template">
    <section id="wrapper">
		<a class="hidden-close"></a>
		<header id="blog-header">
			<div class="inner">
				<nav id="navigation">
					<span id="home-button" class="nav-button">
						<a class="home-button" href="{{site.url}}" title="Home"> Ana səhifə</a>
					</span>
				</nav>
				<h1 class="blog-name"><a href="{{site.url}}">Olurmu</a></h1>
				<span class="blog-description">Olurmu</span>
			</div>
		</header>
	    <div id="index" class="container">
			<main class="content" role="main">
	    		{{ content }}
			</main>
		</div>
	    {% include footer.html %}
	</section>
  </body>
</html>
